.header {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  border-bottom: .1rem solid #EFEEF3;
}

@media only screen and (max-width: 600px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-around;
        -ms-flex-align: space-around;
            align-items: space-around;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    padding: 3rem 0;
  }
}

.header .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  width: 10rem;
}

@media only screen and (max-width: 600px) {
  .header .logo-box {
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .header .logo-box {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    translate: -2rem;
  }
}

.header .logo-box .header__logo {
  height: 2.5rem;
  width: 2.6rem;
  margin-right: 1.5rem;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

@media only screen and (max-width: 600px) {
  .header .logo-box .header__logo {
    margin-right: .1rem;
  }
}

.header .logo-box .header__logo-text {
  font-size: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .header .logo-box .header__logo-text {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .header .logo-box .header__logo-text {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}

@media only screen and (max-width: 600px) {
  .header .header__nav {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .header .header__nav {
    margin: 2rem 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.header .header__nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.header .header__nav .nav__list a {
  text-decoration: none;
  margin: 0 2rem;
  padding-bottom: .3rem;
  font-size: 2rem;
  font-weight: 700;
  color: #16133D;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: .1rem solid transparent;
}

.header .header__nav .nav__list a:hover {
  border-bottom: .1rem solid currentColor;
}

.header .header__button {
  font-size: 1.6rem;
}

@media only screen and (max-width: 500px) {
  .header .header__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.header .header__button .btn-ghost,
.header .header__button .btn-full {
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem 2rem;
  border: .2rem solid #16133D;
  border-radius: .5rem;
  margin-left: 1rem;
}

.header .header__button .btn-ghost {
  color: #16133D;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header__button .btn-ghost:hover {
  color: #fff;
  background-color: #16133D;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1.04rem);
          transform: translateY(-1.04rem);
}

.header .header__button .btn-full {
  color: #fff;
  background-color: #16133D;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header__button .btn-full:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 9px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 410px) {
  html {
    font-size: 7px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  width: 90%;
  margin: 0 auto !important;
}

.hero {
  width: 100%;
  margin-top: 4rem;
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

@media only screen and (max-width: 600px) {
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 0;
  }
}

.hero .hero__text {
  width: 80%;
}

.hero .hero__heading {
  line-height: 1.1;
  font-size: 5.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 900px) {
  .hero .hero__heading {
    font-size: 3.5rem;
  }
}

.hero .hero__paragraph {
  padding-left: 1rem;
  line-height: 1.6;
  margin-bottom: 5rem;
  font-size: 2rem;
}

@media only screen and (max-width: 900px) {
  .hero .hero__paragraph {
    margin-bottom: 3rem;
  }
}

.hero .btn-ghost,
.hero .btn-full {
  font-size: 1.6rem;
  text-decoration: none;
  padding: .5rem 2rem;
  border: .2rem solid #007FFC;
  border-radius: .5rem;
  margin-left: 1rem;
}

.hero .btn-ghost {
  color: #007FFC;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero .btn-ghost:hover {
  color: #fff;
  background-color: #007FFC;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1.04rem);
          transform: translateY(-1.04rem);
}

.hero .btn-full {
  color: #fff;
  background-color: #007FFC;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.hero .btn-full:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.hero .hero__photo {
  width: 100%;
}

.hero .hero__img {
  position: relative;
}

.hero .hero__img .img__previous,
.hero .hero__img .img__next {
  fill: white;
  border-radius: .2rem;
  background-color: #16133D;
}

.hero .hero__img .img__previous {
  position: absolute;
  top: 40%;
  left: -2rem;
  -webkit-transform: rotate(180deg) scale(1.5);
          transform: rotate(180deg) scale(1.5);
}

.hero .hero__img .img__next {
  position: absolute;
  top: 40%;
  right: -2rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-heading {
  font-size: 4rem;
  letter-spacing: .02rem;
  color: black;
  font-weight: 400;
}

.light-heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #7690A8;
  margin-bottom: 1.5rem;
  font-weight: 400;
}

@media only screen and (max-width: 375px) {
  .light-heading {
    margin-bottom: 0.5rem;
  }
}

.small-paragraph {
  line-height: 1.6;
  margin-bottom: 6rem;
  font-size: 1.8rem;
  font-weight: 300;
}

@media only screen and (max-width: 375px) {
  .small-paragraph {
    margin-bottom: 3rem;
  }
}

.experience {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 600px) {
  .experience {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.experience .experience__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
}

.experience .card {
  border-radius: 1rem;
  padding: 2rem;
  padding-bottom: 3rem;
  border: .1rem solid #E5EAF4;
}

.experience .card .card__logo {
  outline: 0.1rem solid rgba(21, 101, 216, 0.1);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.experience .card .card__heading {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.experience .card .card__paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.experience .card .card__button {
  font-size: 1.6rem;
}

.experience .card .card__button .btn-ghost {
  text-decoration: none;
  padding: .5rem 2rem;
  border: .2rem solid #007FFC;
  border-radius: .5rem;
  color: #007FFC;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.experience .card .card__button .btn-ghost:hover {
  color: #fff;
  background-color: #007FFC;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.features {
  margin-top: 8rem;
  margin-bottom: 8rem;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .features {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

.features__img {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}

.features__img--left, .features__img--right {
  width: 100%;
  position: relative;
  display: block;
}

.features__img--left .img, .features__img--right .img {
  width: 100%;
}

.features__img--right {
  margin-left: auto;
}

.features__text {
  position: absolute;
  left: 5rem;
  bottom: 5rem;
  font-size: 3.6rem;
  color: white;
}

.plan {
  margin-bottom: 8rem;
}

.plan .plan__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(36rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-gap: 4rem;
}

.plan .plan__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 2rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.plan .plan__card:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.plan .plan__card .plan__title {
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.plan .plan__card .plan__price {
  font-size: 4rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.plan .plan__card .plan__price--blue {
  color: #007FFC;
}

.plan .plan__card .plan__price--green {
  color: #52C29D;
}

.plan .plan__card .plan__price--red {
  color: #F04D5D;
}

.plan .plan__card--blue {
  border-top: .3rem solid #007FFC;
}

.plan .plan__card--green {
  border-top: .3rem solid #52C29D;
}

.plan .plan__card--red {
  border-top: .3rem solid #F04D5D;
}

.plan .plan__detail {
  color: #5A7184;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.plan .plan__description {
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  line-height: 2.8rem;
  color: #7690A8;
}

.plan .btn-ghost {
  font-size: 1.6rem;
  text-decoration: none;
  padding: .5rem 2rem;
  border: .2rem solid #16133D;
  border-radius: 10rem;
  color: #16133D;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.plan .btn-ghost:hover {
  color: #fff;
  background-color: #16133D;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.plan .btn-full {
  font-size: 1.6rem;
  text-decoration: none;
  padding: .5rem 2rem;
  border: .2rem solid #16133D;
  border-radius: 10rem;
  color: #fff;
  background-color: #16133D;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.plan .btn-full:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.trial {
  background-color: lightcyan;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#004c97), to(#007FFC)), url(/assets/img/background-image.jpg);
  background-image: linear-gradient(to right, #004c97, #007FFC), url(/assets/img/background-image.jpg);
  border-radius: 2rem;
  padding: 3rem;
}

.trial .trial__box {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  .trial .trial__box {
    padding: 3rem;
  }
}

.trial .trial__heading {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: white;
}

@media only screen and (max-width: 500px) {
  .trial .trial__heading {
    line-height: 1.2;
  }
}

.trial .trial__paragraph {
  font-size: 1.8rem;
  font-weight: 100;
  margin-bottom: 5rem;
  color: white;
}

.trial .btn-ghost,
.trial .btn-full {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 10rem;
  margin-left: 1rem;
}

.trial .btn-ghost {
  background-color: white;
  color: black;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: .1rem solid #fff;
}

.trial .btn-ghost:hover {
  color: #fff;
  background-color: #007FFC;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-1.04rem);
          transform: translateY(-1.04rem);
}

.trial .btn-full {
  color: #fff;
  background-color: #007FFC;
  border: .1rem solid #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.trial .btn-full:hover {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #16133D;
  padding: 8rem 5rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 2rem 4rem;
  }
}

.footer .footer__item {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

@media only screen and (max-width: 780px) {
  .footer .footer__item {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer .footer__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

.footer .footer__item .about {
  padding-right: 5rem;
}

.footer .footer__item .about .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.5rem;
}

.footer .footer__item .about .logo-box .footer__logo {
  margin-right: 1rem;
}

.footer .footer__item .about .logo-box .footer__logo-text {
  margin-bottom: 1.5rem;
}

.footer .footer__item .about .about__paragraph {
  font-size: 1.6rem;
  margin-bottom: 6rem;
}

@media only screen and (max-width: 600px) {
  .footer .footer__item .about .about__paragraph {
    margin-bottom: 3rem;
  }
}

.footer .footer__item .about .about__list {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (5rem)[5];
      grid-template-columns: repeat(5, 5rem);
}

.footer .footer__item .about .about__list .about__list-item {
  list-style: none;
}

.footer .footer__item .about .about__list .about__list-item a {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: .5rem;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer .footer__item .about .about__list .about__list-item a:hover {
  background-color: #b8b3ff;
}

.footer .footer__item .services {
  position: relative;
}

.footer .footer__item .services li {
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer .footer__item .services li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.footer .footer__item .company {
  position: relative;
}

.footer .footer__item .company li {
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer .footer__item .company li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.footer .footer__item .contact {
  position: relative;
}

.footer .footer__item .contact .company__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1rem;
}

.footer .footer__item .contact li {
  list-style: none;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer .footer__item .contact li a {
  color: white;
  text-decoration: none;
  display: inline-block;
}

.footer .footer__item .contact li img {
  width: 100%;
  height: 3rem;
  border-radius: .5rem;
}

.footer .footer__item .section__heading {
  position: relative;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.7rem;
}

@media only screen and (max-width: 600px) {
  .footer .footer__item .section__heading {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.copyrighttext {
  background-color: #16133D;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
/*# sourceMappingURL=main.css.map */