.features{
    margin-top: 8rem;
    margin-bottom: 8rem;
    width: 100%;
    height: auto;

    @media only screen and (max-width: 600px){
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__img{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2rem;


        &--left,
        &--right{
            width: 100%;
            position: relative;
            display: block;

            .img{
                width: 100%;
            }
        }

        &--right{
            margin-left: auto;
        }
    }

    &__text{
        position: absolute;
        left: 5rem;
        bottom: 5rem;
        font-size: 3.6rem;
        color: white;
    }
}